@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

html, body{
    margin:0;
    padding:0;
    background-color:#0D1323;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.container{
    width:100%;
    max-width: 1150px;
    margin:auto;
    height:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px;
    align-content: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.container > div{
    border-radius: 15px 15px 19px 19px;
}

.user-card{
    background-color:#1D204B;
    grid-row:1/3;
}

.user-profile{
    background-color:#5746EA;
    border-radius:15px;
    padding:30px 30px 90px 30px;
    color:white;
    font-weight: 300;
    font-size: 16px;
}

.report-for{
    margin:0;
    padding-top:40px;
}

.user-name{
    font-size: 40px;
    margin:0;
}

.user-profile img{
    width:80px;
    border:3px solid white;
    border-radius:80px;
}

.container > div:last-child{
    grid-column: 1/5;
}

.time-period{
    padding:20px 35px;
}

.nav-item{
    color:#787AB7;
    display: block;
    line-height: 40px;
}

.nav-item:hover{
    cursor: pointer;
    color:white;
}

.active{
    color:white;
}

.time-cards{
    position: relative;
}

.time-cards div{
    width: 100%;
    margin-top:20%;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    background-color:#1D204B;
    border-radius:15px;
    padding:30px;
    color:white;
    box-sizing: border-box;
}

.card-title{
    font-size: 19px;
}

.more-options{
    justify-self: end;
}

.current-time{
    padding-top:30px;
    font-size: 56px;
    font-weight: 300;
    grid-column: 1/3;
}

.previous-time{
    font-size: 15.5px;
    color:#BEC2F2;
    grid-column: 1/3;
}

.work-card{
    background-color:#FF8B64;
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 160px -10px;
}

.play-card{
    background-color:#56C2E6;
    background-image: url(../images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: 160px -10px;
}

.study-card{
    background-color:#FF5E7D;
    background-image: url(../images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: 160px -10px;
}

.exercise-card{
    background-color:#4BCF83;
    background-image: url(../images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: 160px 0px;
}

.social-card{
    background-color:#7235D1;
    background-image: url(../images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: 160px 0px;
}

.self-care-card{
    background-color:#F1C75B;
    background-image: url(../images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: 160px -5px;
}

@media only screen and (max-width: 1150px){

    html, body{
        height:auto;
        padding:20px 0;
    }

    .container{
        width:90%;
        margin: auto;
        max-width: 325px;
        grid-template-columns: repeat(1, 1fr);
    }

    .user-card{
        grid-row:1;
    }

    .container > div:last-child{
        grid-column: 1;
    }
}